.grid {
    width: 500px;
    height: 500px;
    border: 2px solid blue;
    display: grid;
    grid-template-columns: 25% 25% 2fr 1fr;
    grid-template-rows: 200px 200px;
    row-gap: 10px;
    column-gap: 15px;
}

.box {
    color: black;
    background-color: beige;
    border: 2px solid dodgerblue;
    border-radius: 5px;
}

.a {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: span 2;
}